.hero{
    background-image: url('https://b.zmtcdn.com/mx-onboarding-hero87f77501659a5656cad54d98e72bf0d81627911821.webp');

    height: 65vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: #f8f8f8d7;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    padding-left: 120px;
}

.hero button{
    background-color: darkblue;
    color: white;
    padding: 10px 15px;
    outline: none;
    margin-top:12px;
    border: none;
}

@media (max-width: 960px) {
    .hero {
        padding-left: 60px;
    }

}

@media (max-width: 860px) {
    .hero{
        background-size: cover;
        height: 40vh;
        background-position: center;
    }
    h1 {
        font-size: 18px;
    }

    .hero {
        padding-left: 40px;
    }
}
@media (max-width: 460px){
    .hero {
        padding-left: 20px;
    }
    h1 {
        font-size: 16px;
    }
}

@media (max-width:640px){
   .hero{
    opacity: 0.7;
   }
}